.sign-in {
  display: flex;
  width: 380px;
  // max-width: 380px;
  margin: auto;
  margin-top: 5%;
  flex-direction: column;
  min-width: fit-content;
  // background-color: blue;

  .title{
    margin: 10px 0;
  }

  .button-container {
    // width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.container-fluid {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0 10% 0;
}