
  .button-container {
    // width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

.container-fluid {
  display:flex;
  color: black;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0 10% 0;
}
