.backdropLogo {
  display: flex;
  width: 96vw;
  position: fixed;
  margin: 0 0 10% 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;

  img{
    margin: -5% 0 0 0;
  }

  @media only screen and (max-width: 420px) {
    // background-color: green;
    img{
      width: 100px;
      margin: -5% 0 0 0;
    }
  }
}
.backdropMobile{
  position: fixed;
  justify-content: space-around;
  margin: 0% 4% 0% 0;
  width: 600px;

  @media only screen and (max-width: 420px) {
    width: 400px;
    margin: -35% 6% -30% 0;
  }
}


