.reviewContainer{
  display: flex;
  justify-content: left;
  align-items: center;
  // border: solid black 1px;
  flex-direction: column;
  margin: 5% 0 0% 0;

}

.review{
  margin: 3% 0 2% 0;
}

.upperReviewContainer{
  width: 100%;
  justify-content: space-between;
}

span.rating{
  // margin-right: 5%;
  margin-left: 30%;
  font-size: .8em;
  margin: 0 5% 10px 0;
}

.username{
  display: relative;
  justify-content: space-between;
  color: rgb(97, 97, 97);
  font-size: 12px;
}

.date{
  float: right;
  font-size: 12px;
  padding: 1px;
}

span.title{
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 1%;
  margin-top: 1%;
}

span.feedback{
  margin: 0 0 3% 0;
  font-size: 13px;
}