.reviewContainer{
  display: flex;
  justify-content: left;
  align-items: center;
  // border: solid black 1px;
  flex-direction: column;
  margin: 5% 0 0% 0;

}

.review{
  margin: 3% 0 2% 0;
}

.upperReviewContainer{
  width: 100%;
  justify-content: space-between;
}

.rating{
  margin-right: 5%;
  font-size: .8em;
}

.username{
  display: relative;
  justify-content: space-between;
  color: rgb(97, 97, 97);
  font-size: 12px;
}

.date{
  float: right;
  font-size: 12px;
  padding: 1px;
}

.title{
  margin: 0 0 0 -2%;
  font-weight: 600;
  font-size: 15px;
}

.feedback{
  width: 90%;
  font-size: 12px;
}