.signIn{
  display: flex;
  justify-content: right;
  align-items: center;
  // flex-direction: column;

  .labelContain{
    display: flex;
    // justify-content: right;
    // width: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a.nav-link {
      font-size: 15px;
      
      &:hover {
        color: blue;
      }
    }
  }
}


a.nav-link{
  margin: 0;
}

.slogan{
  background: black;
  display: flex;
  flex: 1;
  margin-left: 3%;
}

.header-bottom {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: black;
  color: white;
  
  .header-bottom_phone{
    margin-right: 65px;
  }
  
  .header-bottom_email{
    margin-right: 55px;
  }
}

.header-text {
  font-size: 10px;
}