div.container-md{
  margin-top: 3%;
}

.sizeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15%;
  
  .shoeSize{
    width: 3.5rem;
    border: solid 1px;
    list-style: none;
    text-align: center;
    margin: 5px;
    margin-bottom: 3%;
    border-radius: 5px;

    &:hover {
      background-color: rgb(97, 97, 97);
      color: white;
      cursor: pointer;
    }
  }
}

.itemName{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  margin-bottom: -10px
}

#img{

  &:hover{
    // transform: translateX(500px);
    transform: scale(300%);
  }
}

.active{
  background-color: black;
  color: white;
}

#returnIcon{
  width: 98%;
  justify-content: space-between;
  padding: 5px;
  margin: -3% -2% 0 -2%;
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
}

.chipContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  margin: 10% 0 % 0;

  .MuiButtonBase-root {
    margin: auto;
    width: 100px;
    color: rgb(46, 181, 91);
  }
}

.fade-in-chip{
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 100; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}