
div.itemListPreview.container-true {
  margin: 0 0 10% 0;

  .categoryLabel{
    width: 90%;
    max-width: 1000px;
  }

  .optionsContainer{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    margin-top: .9rem;
    flex-direction: column;
    // margin: 0 2% 0 2%;
    // height: 100px;
  }
  
  span.title{
    // font-size: 2rem;
    font-weight: 300;
    color: black;
    font-size: 2.5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 0 0 -10% 0%;
    text-decoration-line: underline overline;
    text-decoration-thickness: .05em;
    text-emphasis-position: over;
    text-emphasis-color: black;
    text-emphasis-style: triangle;
    text-underline-offset: 1rem;
    letter-spacing: 5px;
    // text-shadow: '5px 5px 30px black, 0 0 .5em black, 0 0 0 .2em gray',
  }
  
  .preview {
    max-width: 1400px;
    margin: auto;
    display: flex;
    margin-bottom: -5%;
    margin-top: 0;
  }
}

ul.titleListContainer{
  background: black;
  color: white;
  // margin: 8rem 0 0 0;
  margin: 0 0 0 0;
  opacity: .75;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 90%;
  height: 3rem;
  padding: 5px 10px;
  
  li{
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    color:rgb(154, 146, 146);

    &:hover{
      background: gray;
      color: white;
      cursor: pointer;
      border-radius: 4%;
    }
  }
}
  
  .title{
    h1{
      display: flex;
      align-items: left;
      align-self: left;
      align-content: left;
    }
  }
  
  .row{
    width: 80%;
  }
  
  .titleContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: black;
    opacity: .5;
    height: 75px;
    
    .categoryTitle {
      display: flex;
      margin: 2%;
      font-weight: 600;
      cursor: pointer;
      transition: all ease-in;
      font-size: 22px;
      color: white;
      border-radius: 10px;
      justify-content: center;
      width: 85px;
      padding: 3px 8px 3px 8px;
      
      &:hover{
        background-color: black;
        transform: scale(1.03);
        text-decoration: underline;
      }
    }
  }
// ====================== 1400+ ======================
@media only screen and (min-width: 1400px) {
  div.itemListPreview{

    span.title{
      font-size: 3.75rem;
      font-weight: 300;
      // margin: 0 0 0 5%;
    }

    span#title{
      font-size: 3.75rem;
      display: flex;
      justify-content: left;
      margin: 0 0 0 6%;
    }

    .optionsContainer{
      margin-top: 5%;
    }

    .sortContainer{
      font-size: 1.5rem;
      margin-top: 10%;
    }

    .categoryLabel{
      padding: 0 0 0 0;
      margin: 5rem 0 -2% 0;
      text-align: left;
    }
    
    ul.titleListContainer{
      // margin: 8.5rem 0 0 0;
      margin: 0 0 -2% 0;
      height: 3.5rem;
      max-width: 1000px;
      
      li{
        font-size: 1.25rem;
      }
    }
  }
}
//   .itemListPreview{

//     .categoryLabel{
//       padding: 0 0 0 0;
//       margin: 4rem 0 -1% 0;
//       text-align: left;
//     }
//     .sortContainer{
//       font-size: 1.5rem;
//       margin-top: 12%;
//     }
    
//     ul.titleListContainer{
//       // margin: 8.5rem 0 0 0;
//       margin: 0 0 -3% 0;
//       height: 3.5rem;
//       max-width: 1000px;
      
//       li{
//         font-size: 1.25rem;
//       }
//     }
//   }
// }

  // ===================== 1000+ =======================
  @media only screen and (min-width: 1000px) and (max-width: 1399px) {
    div.itemListPreview{

      span.title{
        font-size: 3.75rem;
        font-weight: 300;
        // margin: 0 0 0 5%;
      }

      span#title{
        font-size: 3.75rem;
        display: flex;
        justify-content: left;
        margin: 0 0 0 6%;
      }

        .optionsContainer{
          margin-top: 5%;
        }

          .sortContainer{
            font-size: 1.5rem;
            margin-top: 10%;
          }

      .categoryLabel{
        padding: 0 0 0 0;
        margin: 5rem 0 -2% 0;
        text-align: left;
      }
      
      ul.titleListContainer{
        // margin: 8.5rem 0 0 0;
        margin: 0 0 -2% 0;
        height: 3.5rem;
        max-width: 1000px;
        
        li{
          font-size: 1.25rem;
        }
      }
    }
  }

  // ========================= 600 + ========================
  
  @media only screen and (min-width: 600px) and (max-width: 999px) {
    .itemListPreview{

      .optionsContainer{
        background-color: white;
        margin-top: -3%;
      }

      span.title{
        font-size: 3rem;
        font-weight: 300;
        margin-top: 3%;
      }
      span#title{
        font-size: 3rem;
        display: flex;
        justify-content: left;
        margin: 0 0 0 6%;
      }

      .sortContainer{
        margin-top: 10%;
        font-size: 1.3rem;
      }

      .categoryLabel{
        padding: 0 0 0 0;
        margin: 7rem 0 -2.5% 5%;
        text-align: left;
      }
      
      ul.titleListContainer{
        // margin: 8.5rem 0 0 0;
        margin: 0 0 0 0;
        height: 3.5rem;
        max-width: 1000px;
        
        li{
          font-size: 1.25rem;
        }
      }
    }
  }
  // ===================== 421 - 599px ====================
  
  @media only screen and (min-width: 421px) and (max-width: 599px) {
    .itemListPreview{

      .optionsContainer{
        background-color: white;
        margin-top: -3%;
      }

      .sortContainer{
        margin-top: 5%;
      }

      span.title{
        font-size: 2.5rem;
        font-weight: 300;
        // margin: 0 0 0 5%;
      }

      span#title{
        font-size: 2.5rem;
        display: flex;
        justify-content: left;
        margin: 0 0 0 3%;
      }

      .categoryLabel{
        padding: 0 0 0 0;
        margin: 7rem 0 -5% 2%;
        text-align: left;
      }
      
      ul.titleListContainer{
        margin: 0 0 0 0;
        
        li{
          font-size: 1rem;
        }

        .categoryTitle{
          font-size: 14px;
          margin: 2%;
          padding: 0;
        }
      }
    }
  }
  // ===================== Mobile View ====================

  @media only screen and (min-width: 200px) and (max-width: 420px) {
    .itemListPreview{

      .optionsContainer{
        background-color: white;
      }

      span#title{
        font-size: 2rem;
        display: flex;
        justify-content: left;
        margin: 0 0 0 3%;
      }
      
      .preview{
        display: flex;
        flex-wrap: wrap;
      }

      .sortContainer{
        margin-top: 5%;
        margin-bottom: 5%;
      }

      .categoryLabel{
        font-size: smaller;
        padding: 0 0 0 0;
        margin: 8rem 0 -7% 0%;
        text-align: left;
      }
      
      ul.titleListContainer{
        // margin: 8rem 0 0 0;
      
        li{
          font-size: .9rem;
        }
      }
    }
  }