.backdropContain{
  display: flex;
  width: 96vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;
  margin: -2% 0 0 0;
  
  div.backdropText{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10% auto 0 auto;
    padding: 0 0 0 0%;
    width: 80%;
    font-weight: 600;
    color: rgb(91, 89, 89);
    
    h1{
      font-size: 2em;
    }      
  }
      .crownIconContainer {
        position: absolute;
        top: 60%;
        width: 8.5rem;
        z-index: -1;
        margin: -1.5% 0 0 3%;
      }
    }
    
    
    // // ======================= Mobile View =========================
    
    @media only screen and (min-width: 200px) and (max-width: 420px) {
      .backdropContain{
        margin: -8% 0 0 0;
        
        div.backdropText{
          width: 80%;
          justify-content: space-between;
          
          h1{
            font-size: 2em;
            margin: 8% 0 0 5%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 8.5rem;
          z-index: -1;
          margin-top: -3%;
        }
      }
    }
    
    // ======================= 421 - 500  ==========================
    
    @media only screen and (min-width: 421px) and (max-width: 500px) {
      .backdropContain{
        margin: -8% 0 0 0;
        
        div.backdropText{
          width: 80%;
          justify-content: space-between;
          
          h1{
            font-size: 2em;
            margin: 8% 0 0 5%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 8.5rem;
          z-index: -1;
          margin-top: -3%;
        }
      }
    }

    // ======================= 501 - 700 ==========================
    
    @media only screen and (min-width: 501px) and (max-width: 700px) {
        .backdropContain{
          margin: -8% 0 0 0;
          
          div.backdropText{
            width: 75%;
            justify-content: space-between;
            
            h1{
              font-size: 2.5em;
              margin: 8% 0 0 5%;
            }
          }
          .crownIconContainer {
            position: absolute;
            top: 60%;
            width: 9.5rem;
            z-index: -1;
            margin-top: -6%;
          }
        }
    }
    
    /* ======================== 701 - 1000 ============================ */

    @media only screen and (min-width: 701px) {
      .backdropContain{
        margin: -8% 0 0 0;
        
        div.backdropText{
          width: 70%;
          max-width: 600px;
          justify-content: space-between;
          
          h1{
            font-size: 2.75em;
            margin: 8% 0 0 5%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 10.5rem;
          z-index: -1;
          margin-top: -8%;
        }
      }
    }

    // ===================== 850+ ==========================

    @media only screen and (min-width: 850px) {
      .backdropContain{
        margin: -5% 0 0 0;
        
        div.backdropText{
          width: 70%;
          max-width: 600px;
          justify-content: space-between;
          
          h1{
            font-size: 2.75em;
            margin: 8% 0 0 5%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 11rem;
          z-index: -1;
          margin-top: -8%;
        }
      }
    }

    // ==================== Desktop View =====================

    @media only screen and (min-width: 1080px) {
      .backdropContain{
        margin: -5% 0 0 0;
        
        div.backdropText{
          width: 70%;
          max-width: 600px;
          justify-content: space-between;
          
          h1{
            font-size: 2.75em;
            margin: 3% 0 0 5%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 11.5rem;
          z-index: -1;
          margin-top: -5%;
        }
      }
    }