.backdropContain{
  display: flex;
  width: 96vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;
  margin: -2% 0 0 0;

  @media only screen and (max-width: 420px) {
    align-items: center;
    margin: 5% 0 0 0;
    img{
      margin: -5% 4% 0% 0;
      width: 90px;
      justify-content: center;
      align-items: center;
    }
  }
}

div.backdropMobile{
  display: flex;
  align-items: center;
  
  justify-content: space-around;
  margin: 5% 0 0 0;
  padding: 0 0 0 0%;
  width: 550px;
  font-weight: 600;
  color: rgb(91, 89, 89);
  // background: yellow;
  

  @media only screen and (max-width: 420px) {
    width: 350px;
    h1{
      font-size: larger;
      margin-top: -0%;
      margin-right: 4%;
    }
  }
}