.collectionItem {
  display: flex;
  justify-content: space-between;
  border: none;
  width: 16rem;
  max-width: 22rem;
  margin: 0% 2% 6% 2%;
  min-height: 450px;
  cursor: pointer;

  &:last-child{
    margin-bottom: 20%;
  }
 
  @media  screen and (max-width: 614px) {
    width: 22rem;
  }

}