// ===================== Mobile View =======================

@media only screen and (min-width: 200px) and (max-width: 420px) {
  .imgContainer{
    width: 40%;
    justify-content: center;
    margin-right: 3%;
    
    .carouselImg{
      overflow: hidden;
      margin: 3% 5% 0 5%;
      max-height: 250px;
      min-height: 150px;
      max-width: 175px;
      min-width: 125px;
      // width: 150px;
      // height: 200px;
      order: 2;

      // &:first-child {
      //   order: 1;
      // }
    }
    
    .textBox{
      max-height: 100%;
      min-height: 150px;
      max-width: 250px;
      min-width: 175px;
      flex-wrap: wrap;
      margin: 0 0 0 0;
      padding: 3% 0 0 0;
      order: 1;

      // &:first-child {
      //   order: 2;
      // }

      span.slideTitle{
        font-size: 16px !important;
        margin-bottom: 5% !important;
        font-weight: 600 !important;
      }
      
      div.quoteContainer{
        width: 100% !important;
        // margin-top: 3%;
        margin: 3% 0 0 0 !important;
        font-size: 14px;
        // margin: 0 !important;
        // display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        
        .css-i4bv87-MuiSvgIcon-root{
          margin-bottom: 15px;
        }
      }
      p{
        margin-top: 5%;
        font-size: 20px;
      }
    }
  }
  .carousel-indicators button{
    display: none;
  }
}

// ========================== Small Screen View ============================
@media only screen and (min-width: 421px) and (max-width: 690px) {
  
  .imgContainer{
    width: 40%;
    justify-content: center;
    margin-right: 3%;
    
    .carouselImg{
      margin: 3% 5% 0 5%;
      max-height: 300px;
      min-height: 200px;
      max-width: 200px;
      min-width: 150px;
      order: 2;
    }
    
    .textBox{
      max-height: 300px;
      min-height: 200px;
      max-width: 400px;
      min-width: 150px;
      flex-wrap: wrap;
      order: 1;

      span.slideTitle{
        font-size: 20px;
      }
      
      .quoteContainer{
        width: 90%;
        
        margin-top: 3%;
        font-size: 16px;
        // margin: 0 !important;
        justify-content: center;
        align-items: center;
        
        .css-i4bv87-MuiSvgIcon-root{
          margin-bottom: 15px;
        }
      }
      p{
        margin-top: 5%;
        font-size: 20px;
      }
    }
  }
  .carousel-indicators button{
    display: none;
  }

}

// ================== 999px ==================


@media only screen and (min-width: 691px) and (max-width: 999px) {

    .imgContainer{
      width: 100%;
      justify-content: space-between;
      padding: 0 5% 5% 5%;

      .carouselImg{
        margin: 0 5%;
        max-height: 500px;
        min-height: 450px !important;
        max-width: 350px;
        min-width: 350px !important;
      }

      .textBox{
        max-width: 400px;
        min-width: 400px !important;
        min-height: 300px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        .quoteContainer{
          width: 80%;
          margin: auto;
          margin-top: 3%;
          font-size: 1.5em;

          .css-i4bv87-MuiSvgIcon-root{
            margin-bottom: 15px;
          }
        }
        button{
          width: 50%;
          margin: 5% auto 0% auto;
        }
      }
      
      span.slideTitle{
        font-size: 2em !important;
        font-weight: lighter;
        margin-bottom: 10%;
      }
  }
}
// ========================= 1200px ======================

@media only screen and (min-width: 1200px) {
  .carouselContainer {
    display: flex;
    // width: 70%;
    margin: auto;
    margin-bottom: 3%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
  
    div.imgContainer{
      display: flex;
      min-width: 1100px;
      max-width: 1300px !important;
      margin: auto;
      background-color: white;
      z-index: -1;
      justify-content:space-around !important;
      align-items: center;
      
      .carouselImg{
        margin: auto;
        overflow: hidden;
        // max-height: 580px !important;
        // min-height: 550px;
        // max-width: 500px !important;
        // min-width: 450px;
        // margin: 10px;
        border-radius: 10px;
        border: 2px solid gray;
        box-shadow: 5px 5px 5px gray;
      }
    }

    // .textBox{
    //   max-width: 550px;
    //   min-width: 450px;
    //   flex-wrap: wrap;

    //   .quoteContainer{
    //     width: 80%;
    //     margin: auto;
    //     margin-top: 3%;
    //     font-size: 20px;
    //   }
    // }
    
  }
  
}

@media only screen and (min-width: 1300px) {

  .imgContainer{

    .carouselImg{
      margin: auto;
      overflow: hidden;
      max-height: 580px !important;
      min-height: 550px;
      max-width: 400px !important;
      min-width: 375px;
      // margin: 10px;
      border-radius: 10px;
      border: 2px solid gray;
      box-shadow: 5px 5px 5px gray;
    }
    
    div.textBox{
      // max-width: 550px;
      // min-width: 450px;
      flex-wrap: wrap;
      height: 500px !important;
      display: flex;
      justify-content: space-evenly;

      
      .quoteContainer{
        width: 80%;
        margin-left: 0% auto  5% auto !important;
        font-size: 1.5em !important;
      }
      
      span.slideTitle{
        font-size: 3em !important;
        margin-bottom: 10% !important;
      }

      button{
        width: 50%;
        font-size: 1.5em;
        margin: auto;
      }
    }
  }
}
// ================== Desktop View ==================


.carousel {
  display: flex;
  width: 96%;
  margin: 2%;
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  
  .imgContainer{
    display: flex;
    width: 100%;
    // min-width: 1200px;
    // max-width: 1300px;
    margin: auto;
    background-color: white;
    z-index: -1;
    justify-content:space-between;
    align-items: center;
    
    .carouselImg{
      overflow: hidden;
      max-height: 430px;
      min-height: 425px;
      max-width: 325px;
      min-width: 325px;
      margin: 10px;
      border-radius: 10px;
      border: 2px solid gray;
      box-shadow: 5px 5px 5px gray;
    }
    
      .textBox{
        position: relative;
        flex-direction: column;
        color: black;
        flex-wrap: wrap;

        div{
          width: 70%;
          margin: auto;
          margin-top: 3%;

          .css-i4bv87-MuiSvgIcon-root{
            margin-bottom: 15px;
          }
        }

        span{
          font-size: 25px;
          font-weight: lighter;
        }
        p{
          margin-top: 5%;
          font-size: 20px;
        }
      }
  }
  
  .carousel-indicators button{
    color: black ;
    background-color: black !important;
  }

  a.carousel-control-next, a.carousel-control-prev{
  display: none;
  }
}

.active {
  background: white;
}