.searchBarContain{
  display: flex;
  width: 100%;
  justify-content: right;
  margin: 5px 10px 5px 0;
  
  
  .searchBar{
    // display: flex;
    // justify-content: left;
    // align-items: left;
    // align-self: center;
    border: 1px solid;
    border-radius: 30px;
    width: 200px;
    // align-items: center;
    // padding: 5px 5px;
    
    button{
      // margin-left: 5px;
      width: 30px;
      border-radius: 50%;
      border: none;
      border-right: none;
      background-color: white;
    }
    
    input{
      margin: 5px 0;
      border: none;
      
      &:focus {
        outline: none;
      }
    }
  }
}