

// =============== Desktop View ================

nav.navbar{
  margin: 0 10px 1% 10px;
  padding: 0 0 2% 0;
  
  
  nav.border.navbar.navbar{
    width:90%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  a.nav-link {
    text-transform: uppercase;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    
    &:hover {
      transform: scale(1.05);
      color: black;
      font-weight: 500;
    }
  }
  
  .navbar-text {
    font-size: 10px;
    justify-content: baseline;
    margin-right: 5px;
  }
  h4 {
    font-weight: 800;
    display: flex;
    align-content: center;
    justify-content: center;
  }
    
    #clearItemFromCart{
      transition: .5s ease all;
      color: red;
      
      &:hover {
        transform: scale(1.5);
        border: 1px solid red;
        color: white;
      }
    }
    #img{
      display: cover;
      max-width: 100%;
    }
    
  }
  .cartQuantityArrow{
    color: black;
    
    :hover {
      cursor: pointer;
      color: rgb(133, 133, 133)
    }
  }

  button.dropdown-toggle{
    padding: 0 5px;
    color: white;
    background-color: gray;
    transition: 0s all;
    border: 1px solid black;

    &:hover{
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }

  div.dropdown-menu.show{
    width: 100px;
  }

    .cartIcon{
      width: 3.3rem;
      height: 3.3rem;
      opacity: 80%;
      position: fixed;
      right: 0;
      top: 50%;
      justify-content: right;
      margin: 0 10px 0 0;
      z-index: 3;
      
      .shoppingBagContainer{
        position: absolute;
        top: -5%;
        width: 3.5rem;
        right: 5%;
      }
      
      .cartProductCount{
        color: white;
        bottom: -1%;
        right: 0;
        transform: translate(-25%, -15%);
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
      }
    }
    
    .border{
      width: 100%;
    }
    
    .modalHeader{
      background-image: url('https://media4.giphy.com/media/JoVV55m3KZHdxlpFZ6/giphy.gif?cid=790b7611a83f4f78529b8fcf466865c46bf0b8f1147e8386&rid=giphy.gif&ct=g');
      
      button.btn-close{
        background-color: white;
      }
    }
    
    .row{
      width: 100%;
      
    }
    
    div.modalCol{
      margin: 0 2% 0 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    
    .modalItemText{
      font-size: 12px;
      display: flex;
      justify-content: left;
      
    }
    
    a.logo.navbar-brand{
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }
    .navbarLeft{
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
      .navbar-brand {
        max-width: 70px;
        min-width: 60px;
        height: auto;
        
      }
      
      .searchBarContainer{
        width: 100%;
        justify-content: center;
        margin: 0 0 % 0;
        
        .searchIcon {
          width: 30px;
          margin: 0 10% 0 10%;
          padding: 0 0 0 0;
          
          &:hover{
            transition: ease 1s;
            color: gray;
          }
          
          .MuiSvgIcon-root {
            font-size: 30px;
          }
          
          &:hover{
            cursor: pointer;
          }
        }
      }
    }

    .checkoutBtn{
      // display: flex;
      color: blue;
      text-align: right;
      justify-content: right;
      align-items: right;

      &:hover{
        cursor: pointer;
      }
    }

    .paymentSuccess{
      background-size: 25%;
      background-repeat: no-repeat;
      background-position: 85% 80%;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Success.png");
    }

    .paymentFail{
      // margin: 0 0 5% 0;
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: 85% 200%;
      background-image: url("https://thumbs.dreamstime.com/b/x-red-mark-cross-sign-graphic-symbol-crossed-brush-strokes-red-mark-cross-sign-graphic-symbol-154904173.jpg");
    }

// ======================== 1000+  =========================

    @media only screen and (min-width: 1000px) {
      .cartIcon{
        width: 4.5rem;
        height: 4.5rem;
        opacity: 80%;
        position: fixed;
        right: 0;
        top: 50%;
        margin: 0 10px 0 0;
        z-index: 3;
        
        .shoppingBagContainer{
          position: absolute;
          top: 0;
          width: 4.5rem;
          right: 10%;
        }
        
        .cartProductCount{
          color: white;
          bottom: -15%;
          right: 0;
          transform: translate(-25%, -15%);
          width: 1.75rem;
          height: 1.75rem;
          position: absolute;
        }
      }
    }

    // =================== Mobile View 420px ==================

@media only screen and (min-width: 200px) and (max-width: 420px) {

  nav.navbar.navbar {
    margin: 0 0 0 0;
  }

  div.navbarLeft{
    width: 82%;
    justify-content: space-evenly;

    .searchBarContainer{
      display: flex;
      padding: 0 0 0 0;
      margin: 0;
      align-self: center;
      align-content: center;
      
    }
  }

  div.modalCol{
    font-size: 12px;
  }

  .modalItemText{
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: left;
  }

  .col{
    padding: 0;
  }

  .navbar-collapse{
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 20px;
  }
}
    