.singleItem.card{
  width: 45%;
  max-height: 275px;
  margin: 2%;
  padding: 1%;

  .singleItemImg{
    height: 70%;
    background: cover;
  }

  div.card-body{
    height: 30%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    flex-direction: column;
    width: 100%;
  
  
    div.card-title.h5{
      width: 100%;
    }
  }
}
// ====================== 1400 + =====================
@media only screen and (min-width: 1401px) {
  .singleItem.card{
    width: 25%;
    // max-width: 320px;
    flex-wrap: wrap;
    max-height: 500px;
    margin: 1%;
    padding: 1%;
    
    div.card-body{
      
      div.card-title.h5{
        font-size: 1.25em;
      }
      
      p.card-text{
        font-size: 1.5em;
      }
    }
  }
}

// ======================= 1000 - 1400px ====================
@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .singleItem.card{
    width: 25%;
    flex-wrap: wrap;
    max-height: 500px;
    margin: 1%;
    padding: 1%;
    
    div.card-body{
      
      div.card-title.h5{
        font-size: 1.25em;
      }
      
      p.card-text{
        font-size: 1.5em;
      }
    }
  }
}

// ==================== 550 - 800px ======================
@media only screen and (min-width: 551px) and (max-width: 1000px) {
  .singleItem.card{
    width: 30%;
    flex-wrap: wrap;
    max-height: 500px;
    margin: 1%;
    padding: 1%;
    
    div.card-body{
      
      div.card-title.h5{
        font-size: 1.1em;
      }
      
      p.card-text{
        font-size: 1.3em;
      }
    }
  }
}

// ======================= 420 - 650px =====================
@media only screen and (min-width: 421px) and (max-width: 550px) {
  .singleItem.card{
    max-height: 400px;
    margin: 2%;
    padding: 2%;
  
    div.card-body{
    
      div.card-title.h5{
        font-size: 1.1em;
      }

      p.card-text{
        font-size: 1.3em;
      }
    }
  }
}

// ===================== 200 - 420px ======================
  @media only screen and (min-width: 200px) and (max-width: 420px) {
  //   .singleItem.card{
  //     width: 45%;
  //     max-height: 275px;
  //     margin: 2%;

  //     .singleItemImg{
  //       height: 70%;
  //       background: cover;
  //     }

  //     div.card-body{
  //       height: 30%;
  //       display: flex;
  //       align-content: center;
  //       align-items: center;
  //       justify-content: center;
  //       padding: 0;
  //       text-align: center;
  //       flex-direction: column;
  //       width: 100%;
      
      
        div.card-title.h5{
          font-size: .9em;
        }
        
  //       // p.card-text{
        
  //       // }
  //     }
  //   }
  }
