div.container-fluid{
  padding: 0 0 0 0;
  margin: 3% 0 0% 0 ;
}

.footerTitle{
  width: 100vw;
  // padding: 5px 10px 0 10px;
  height: 80px;
  background-color: rgb(63, 63, 63);
  z-index: 0;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;

  @media only screen and (max-width: '420px') {
    height: 60px;
    padding-top: 12px;
  }
}

// .footerBlackbar {
//   flex-direction: row;
//   width: 100%;
//   height: 30px;
//   background: black;
//   z-index: 1;
//   margin-top: 0.5%;

//   @media screen and (max-width: 420px) {
//     display: none;
//   }
// }

.typographyContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;    
  width: 100%;
  height: 60px;
  // border-top: double 1px white;
  border-bottom: solid 1px white;
  
  @media screen and (max-width: '420px') {
    
    height: 50px;
    border-bottom: solid 0.5px white;
    border-top: solid 0.25px white;
    opacity: .8;
  }

  .typographyText{
    display:inline;
    justify-content: space-evenly;
    align-items: center;
    
  }
  // typography text
  .css-1oe3rkh-MuiTypography-root, .css-6ss94k-MuiTypography-root{
    font-size: 50px;
    @media screen and (max-width: 420px) {
    
    font-size: 25px;
    }
  }
}


.footerBottomContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: .8em;
  flex-direction: row;
  background-color: black;
  padding-bottom: 1%;
  
  width: 100vw;
  font-weight: 600;
  height: 30px;
  max-height: 50px;
  margin-bottom: -3%;
  color: white;

  @media only screen and (max-width: 420px) {
    height: 40px;
    padding: 1% 1%;
    margin: 0;
  }
}

.footerBottom{
  display: flex;
  margin: 0 1% 0 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 90%;
  border-right: 2px solid white;

  &:hover{
    cursor: pointer;
    color: rgb(163, 157, 157);
  }
  
  @media only screen and (max-width: 420px) {
    margin: auto;
    // margin: 0 0 0 0;
    padding: 2%;
    flex-direction: column;
    border-right: 1px solid white;
    height: 90%;
    font-size: 12px;

  }
  &:last-child{
    border-right: 1px solid black;
  }
}

.line{
  color: white;
}

.connectTypography{
  font-size: 13px;
  color: black;
  margin: 0 0 5% 0;

  &:hover{
    cursor: pointer;
    font-weight: 600;
  }
}

.middleFooterCol{

  @media only screen and (max-width: 420px) {
    display: none;
  }
}

.footerListItem{
  font-size: 14px;

  &:hover{
    transform: scale(1.01);
    cursor: pointer;
    font-weight: 600;
  }
}

.backdrop{
  background-image: url('../../assets/transparentCrown.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 150px;

  @media only screen and (max-width: 420px) {
    background-position-y: bottom;
    background-size: 100px;
  }
}