// .shopPage {
//   display: flex;
//   padding-right: 10px;
//   flex-direction: column;
// }
// .container{
//   margin: 0;
//   padding: 0;
// }

.carouselContainer{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h3{
    margin: 0 0 50px 0;
  }
}

.headerUnderground {
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
}

.headerRoyalty{
  font-family: 'Oswald', sans-serif;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 75px;
  margin-top: -5%;
}
