// .shopPage {
//   display: flex;
//   padding-right: 10px;
//   flex-direction: column;
// }
// .container{
//   margin: 0;
//   padding: 0;
// }

.carouselContainer{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h3{
    margin: 0 0 50px 0;
  }
}

.homePageImg{
  z-index: -1;
  margin-top: -75px;

  @media only screen and (max-width: 420px) {
    width: 350px;
    margin-top: -75px;
  }
}

.headerUnderground {
  font-family: 'Oswald', sans-serif;
  font-size: 90px;

  @media only screen and (max-width: 420px) {
    font-size: 50px;
  }
}

.headerRoyalty{
  font-family: 'Oswald', sans-serif;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 75px;
  margin-top: -5%;

  @media only screen and (max-width: 420px) {
    margin-top: -11%;
  }
}
