// =================== Desktop View ======================
  .backdropContain{
    display: flex;
    width: 96vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: -1;
    flex-direction: column;
    margin: -2% 0 0 0;
    
    div.backdropText{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 10% auto 0 auto;
      padding: 0 0 0 0%;
      width: 80%;
      font-weight: 600;
      color: rgb(91, 89, 89);
      
      h1{
        font-size: 2em;
      }      
    }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 8.5rem;
          z-index: -1;
          margin: -1.5% 0 0 3%;
        }
      }
  // ======================= 1400 + =====================
@media only screen and (min-width: 1401px) {
  .backdropContain{
    margin: -5% 0 0 0;
    
    div.backdropText{
      width: 70%;
      max-width: 600px;
      justify-content: space-between;
      
      h1{
        font-size: 2.75em;
        margin: 3% 0 0 8%;
      }
    }
    .crownIconContainer {
      position: absolute;
      top: 55%;
      width: 11rem;
      z-index: -1;
      margin-top: -8%;
    }
  }
}
// ==================== 1080 - 1400 =====================
    
    @media only screen and (min-width: 1080px) and (max-width: 1400px) {
      .backdropContain{
        margin: -5% 0 0 0;
        
        div.backdropText{
          width: 70%;
          max-width: 600px;
          justify-content: space-between;
          
          h1{
            font-size: 2.75em;
            margin: 3% 0 0 8%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 45%;
          width: 11rem;
          z-index: -1;
          margin-top: -8%;
        }
      }
    }
    
    // ===================== 850+ ==========================
    
    @media only screen and (min-width: 850px) and (max-width: 1079px) {
      .backdropContain{
        margin: -5% 0 0 0;
        
        div.backdropText{
          width: 70%;
          max-width: 600px;
          justify-content: space-between;
          
          h1{
            font-size: 2.75em;
            margin: 5% 0 0 8%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 45%;
          width: 11rem;
          z-index: -1;
          margin-top: -8%;
        }
      }
    }
    
    /* ======================== 701 - 850 ============================ */
    
    @media only screen and (min-width: 701px) and (max-width: 849px) {
      .backdropContain{
        margin: -8% 0 0 0;
        
        div.backdropText{
          width: 70%;
          max-width: 600px;
          justify-content: space-between;
          
          h1{
            font-size: 2.75em;
            margin: 8% 0 0 8%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 60%;
          width: 10.5rem;
          z-index: -1;
          margin-top: -8%;
        }
      }
    }
    
    // ======================= 501 - 700 ==========================
    
    @media only screen and (min-width: 501px) and (max-width: 700px) {
      .backdropContain{
        margin: -8% 0 0 0;
        
        div.backdropText{
          width: 85%;
          justify-content: space-between;
          
          h1{
            font-size: 2.2em;
            margin: 10% 0 0 8%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 45%;
          width: 9.5rem;
          z-index: -1;
          margin-top: -6%;
        }
      }
    }

    // ======================= 421 - 500  ==========================
    
    @media only screen and (min-width: 421px) and (max-width: 500px) {
      .backdropContain{
        margin: -8% 0 0 0;
        
        div.backdropText{
          width: 90%;
          justify-content: space-between;
          
          h1{
            font-size: 2em;
            margin: 12% 0 0 7%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 45%;
          width: 8.5rem;
          z-index: -1;
          margin-top: -3%;
        }
      }
    }

    // // ======================= Mobile View =========================
    
    @media only screen and (min-width: 200px) and (max-width: 420px) {
      .backdropContain{
        margin: -5% 0 0 0;
        
        div.backdropText{
          width: 90%;
          justify-content: space-between;
          
          h1{
            font-size: 1.75em;
            margin: 10% 0 0 7%;
          }
        }
        .crownIconContainer {
          position: absolute;
          top: 35%;
          width: 8.5rem;
          z-index: -1;
          margin-top: -3%;
        }
      }
    }