.womensBackdropContain {
  display: flex;
  width: 96vw;
  position: fixed;
  margin: 0% 0 5% 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;

  .womensBackdropMobile{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 12% 0% 3% 0;
    width: 85%;
    font-weight: 600;
    color: rgb(91, 89, 89);
  }
  
  .queenIconContainer{
    position: absolute;
    top: 40%;
    z-index: -1;
    margin: -10% 0 0 2%;
    width: 8rem;
  }
}


// ============================= 1400 + ========================
@media only screen and (min-width: 1401px) {
  .womensBackdropContain{


    .womensBackdropMobile{
      width: 75%;
      max-width: 800px;
      margin: 5% 16% 0 19%;
      
      h1{
        font-size: 3rem;
      }
    }

    .queenIconContainer{
      width: 11.5rem;
      top: 18%;
    }
  }
}
// =============================== 1200+ ========================
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .womensBackdropContain{


    .womensBackdropMobile{
      width: 65%;
      max-width: 700px;
      margin: 5% 0 0 0;
      
      h1{

        font-size: 3rem;
      }
    }

    .queenIconContainer{
      width: 11.5rem;
      top: 18%;
    }
  }
}
// ========================== 1000 + ===========================

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .womensBackdropContain{


    .womensBackdropMobile{
      width: 65%;
      max-width: 700px;
      margin: 8% 0 0 0;
      
      h1{

        font-size: 3rem;
      }
    }

    .queenIconContainer{
      width: 11.5rem;
      top: 18%;
    }
  }
}
// =========================== 700 + =========================

@media only screen and (min-width: 700px) and (max-width: 999px) {
  .womensBackdropContain{
    

    .womensBackdropMobile{
      width: 65%;
      
      h1{
        font-size: 2rem;
      }
    }

    .queenIconContainer{
      width: 10.5rem;
      top: 20%;
    }
  }
}
// ======================= Mobile View ===========================

@media only screen and (min-width: 500px) and (max-width: 699px) {
  .womensBackdropContain{
    

    .womensBackdropMobile{
      width: 75%;
      
      h1{
        font-size: 2rem;
      }
    }

    .queenIconContainer{
      width: 9.5rem;
      top: 30%;
    }
  }
}