.sign-in-and-sign-up {
  // width: 850px;
  min-width: 850px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;


}

.signUpPageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
}