.contactPage {
  margin: 0% 0 0 3%;

  .contactHeader{
    text-align: left;
  }

  h4{
    font-weight: 600;
    font-family: open;
    font-size: 20px;
    text-align: left;
    margin-top: 10%;
  }

  h5{
    font-weight: 600;
  }


  .customerService{
    height: 320px;
    text-decoration: none;
    text-align: left;

      li {
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 0px;

        &:hover {
          transform: scale(1.01);
          font-weight: 600;
        }
      }
    }

    .serviceItem {
      list-style-type: none;    
    }

    .quickLinks{
      text-align: left;
      margin: 5px 0 0 5px;
      list-style-type: none;
      
      li {
        cursor: pointer;
        text-decoration: none;
        margin-bottom: -2px;
        font-family: open;
        &:hover {
          transform: scale(1.01);
          color: blue;
        }
      }
    }
  

  .contactPannel{
    text-align: left;

    h2{
      font-weight: 500;
      margin: 3% 0 0 0;
    }

    .pannelItem{
      margin-left: 5%;
      font-size: 15px;

      h6{
        margin-top: 5%;
        font-weight: bold;
        font-family: open;
      }
    }
  }
}

.mobilePannel{
  width: 98vw;
  display: flex;
  flex-direction: column;
  text-align: left;

  span{
    font-size: 13px;
    margin-right: 15px;
  }
  h6{
    font-weight: 600;
    display: flex;
    width: 175px;
  }
  p{
    width: 150px;
    font-size: small;
    margin: 0 0 0 5px;
  }

  .mobileLeftPannel{
    width: 50%;
    padding: 0;
    padding-left: 3%;
    p{
      margin: -8px 0 0 3px;
    }
  }
}

div.col-6{
  margin: 0;
  padding: 0;
}

// ==========================  ========================
@media only screen and (min-width: 420px) and (max-width: 560px) {

  .mobilePannel{
    h6{
      font-size: 1.25rem;
    }
    span{
      font-size: 1rem;
    }
    .serviceList{
      font-size: 1.1rem;
    }

    .mobileLeftPannel{

      p{
        font-size: .9rem;
      }
    }

  }
}
// ==================== 560+ ========================

@media only screen and (min-width: 561px) {
  .contactPage{

    .customerService{
      
      .serviceItem{
        padding: 3px 0;
      }
    }

    .contactPannel{
      .pannelItem{
        p{
          font-size: 1.1rem;
        }
      }
    }
  }
}

// ================== 1000 + =====================
@media only screen and (min-width: 1200px) {
  .contactPage{
    max-width: 1200px;
    margin: auto;

    h2{
      font-size: 2.25rem;
      text-align: center;
      font-weight: 600;
      letter-spacing: 4px;
    }

    .quickLinks{
      font-size: 1.25rem;
    }

    .customerService{
      font-size: 1rem;
      
      .serviceItem{
        font-size: 1.25rem;
        padding: 3px 0;
      }
    }

    .contactPannel{
      .pannelItem{
        h5{
          letter-spacing: 3px;
          font-size: 1.6rem;
        }

        h6{
          font-size: 1.4rem;
          letter-spacing: 1px;
        }

        p{
          font-size: 1.3rem;
        }
      }
    }
  }
}
